<section class="delicious">
	<div class="favs row">
		<% var itemPerCol = Math.ceil(delicious.favs.length/2); %>
		<div class="span6">
			<% delicious.favs.forEach(function(fav, i) { %>
			<div class="fav">
				<p class="lead">
					<a href="<%= fav.u %>"><%- fav.d %></a>
				</p>
				<span class="label text-center label-info">
					<%=: fav.dt | monthAndYear %>
				</span>
				<% fav.t.forEach(function(tag, i) { %>
				<span class="label"><%- tag %></span>
				<% }); %>
			</div>
		<% if (0 == (i+1) % itemPerCol) { %></div><div class="repos span6"><% } %>
			<% }); %>
		</div>
	</div>
</section>
