<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%=: active_profile | capitalize %> | <%= person %></title>
    <link rel="stylesheet" href="/vendor/bootstrap/2.2.1/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/highlight/gc5f3dbd/styles/github.css">
    <link rel="stylesheet" href="/assets/css/site.css">
    <script type="text/javascript">

      // var _gaq = _gaq || [];
      // _gaq.push(['_setAccount', 'UA-104798-11']);
      // _gaq.push(['_trackPageview']);

      // (function() {
      //   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      //   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      //   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      // })();

    </script>
  </head>
  <body>
    <div class="content">
      <%- body -%>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.3/jquery.backstretch.min.js"></script>
    <script>
    $(document).ready(function () {
      $.backstretch("http://pcdn.500px.net/29767061/7972591fb7021b5eaa07116e8cc5e27fc4f13946/5.jpg");
    });
    </script>
  </body>
</html>
